{% extends "layout.html" %}

{% block content %} 

{% import "_macros.html" as macros %}

<form action="/distancia" method="post" novalidate>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    {{ macros.datos("X1", "Ingrese el primer numero X", "number") }}
    {{ macros.datos("Y1", "Ingrese el primer numero Y", "number") }}
    {{ macros.datos("X2", "Ingrese el segundo numero X", "number") }}
    {{ macros.datos("Y2", "Ingrese el segundo numero Y", "number") }}

    <button type="submit" class="btn btn-primary">Calcular Distancia</button>
    <br>
</form>

{% if dist %}
    <h1> La distancia es: {{ dist }}</h1>
{% endif %}

{% endblock %}